body{
    margin:0px;
}

.container{
    background-color: #1F2937;
    display:flex;
    flex-direction: column;    
}

.header{
    display:flex;
    justify-content: space-around;
    color: #E5E7EB;
    font-size: 18px;
    
}

.mainHero{
   display:flex;
   flex:auto;
   flex-direction:column;
   align-items: center;
   flex-wrap: wrap;
   max-height: 300px;
   margin: 50px;
}


.heroText{
    display:flex;
    max-width: 325px;
    margin:5px;
    
}

.testIMG{
    min-height: 100px;
    background-color: white;
    align-content: center;
    
}

.headerButton{
    display:flex;
    flex:1;
    margin-left: -230px;
    margin-top:6px;
    padding:2px 20px;
    background-color: #3882F6;
    border-color: #3882F6;
    color: #E5E7EB;
    border-radius: 10%;
}
ul{
    list-style: none;
    padding: 0px;
    display:flex;
    gap:30px;
    
}